name: Lint Build Test Gradle project

on:
  workflow_dispatch:
  push:

jobs:
  lint-build-test-gradle-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Lint with ktlint
        run: ./gradlew ktlintCheck
      - name: Build with Gradle
        run: ./gradlew build
